<article class="pv4 bt bb b--black-10 ph3 ph0-l">
  <div>
    <h2 class="f3 athelas mt0 lh-title">Tech Giant Invests Huge Money to Build a Computer Out of Science Fiction</h2>
    <p class="f5 f4-l lh-copy athelas">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus quis error, a aliquid porro quia sint eaque laboriosam
      itaque perspiciatis officia sunt dicta, eius esse deleniti? Sapiente dolore, asperiores sint.
    </p>
  </div>
  <p class="f6 lh-copy gray mv0">
    By <span class="ttu">Robin Darnell</span>
  </p>
  <time class="f6 db gray" datetime="">Nov. 21, 2016</time>
</article>