<article class="pv4 bt bb b--black-10 ph3 ph0-l">
  <div>
    <yus-app-heading>{{ title }}</yus-app-heading>
    <p class="f5 f4-l lh-copy athelas">{{ body}}
    </p>
  </div>
  <div class="flex">
    <p class="f6 lh-copy gray mv0 flex-auto">
      By <span class="ttu">Robin Darnell</span>
    </p>
    <div class="f3 gray" (click)="addLike()" [ngClass]="{red: likeCount}">
      <yus-app-icon-heart></yus-app-icon-heart>
      {{ likeCount }}
    </div>
  </div>

  <yus-app-date>Nov. 21, 2016</yus-app-date>
</article>